@charset "utf-8";

div {
  margin: 1em;
}

li {
  list-style-type: none;
  margin-botto: 1em;
}

ol > li {
  list-style-type: decimal;
  margin-bottom: 0;
}

a {
  color: #5e78c1;
  text-decoration: none;
}

a:hover {
  color: #b04188;
  text-decoration: underline;
}

.error {
  color: #f00;
}




